<script>var SANDBOX = {{sandbox }}; var PROBLEM = "{{problem.key}}";</script>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/codemirror/theme/material.css">
<link rel="stylesheet" href="/css/sandbox.css">
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/brackets/matchbrackets.js"></script>
<script src="/codemirror/mode/clike.js"></script> {{#if sandbox}}

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <div class="row clearfix" style="padding-right: 17px">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Code
                        </h3>
                    </div>
                    <div class="runBtn text" style="cursor: pointer" onclick="runCode()" id="run-text">RUN</div>
                    {{!-- <div class="runBtn debugBtn text" style="cursor: pointer" onclick="runCode()" id="run-debug">DEBUG</div> --}}
                </div>
            </div>
            <div class="body" style="background-color: #263238">
                <form>
                    <textarea id="code" name="code">{{{code}}}</textarea>
                </form>

                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                        lineNumbers: true,
                        lineWrapping: true,
                        matchBrackets: true,
                        theme: "material",
                        mode: "text/x-java",
                        tabSize: 2,
                        indentWithTabs: false
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="header">
                <h3>args</h3>
            </div>
            <div class="body">
                <form>
                    <textarea id="input" name="input">{{{args}}}</textarea>
                </form>

                <script>
                    var input = CodeMirror.fromTextArea(document.getElementById("input"), {
                        theme: "white",
                        mode: "text"
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="min-height:300px">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Output
                            <small id='output-error'></small>
                        </h3>
                    </div>
                </div>
            </div>
            <pre class="body" style="background-color: #263238; color: white; min-height: 200px; max-height:200px;" id="output">
            </pre>
        </div>
    </div>
</div>
{{else}}
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Code
                        </h3>
                    </div>
                    <div class="runBtn text" onclick="runCode()" style="cursor:pointer" id="run-text">RUN</div>
                    {{!-- <div class="runBtn debugBtn text" onclick="runCode()" style="cursor:pointer" id="run-debug">DEBUG</div> --}}
                </div>
            </div>
            <div class="body" style="background-color: #263238">
                <form>
                    <textarea id="code" name="code">{{{code}}}</textarea>
                </form>

                {{!-- <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                        lineNumbers: true,
                        matchBrackets: true,
                        theme: "material",
                        mode: "test",
                        lineWrapping: true,
                        mode: "text/x-java",
                        tabSize: 2,
                        indentWithTabs: false
                    });
                    editor.setSize(1000, document.getElementById("problem_description").height);
                </script> --}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card" id="problem_description">
            <div class="header">
                <h3> {{{problem.title}}} </h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Outline</h4>{{{problem.outline}}}</li>
                    <li class="list-group-item">
                        <h4>Example Input</h4>
                        {{{problem.inputs}}}
                    </li>
                    <li class="list-group-item">
                        <h4>Expected Output</h4>{{{problem.output}}}
                    </li>
                    <li class="list-group-item">
                        <h4>Your Input</h4>
                        <form>
                            <textarea id="input" name="input" style="max-height: 100px; height: 100px">{{{args}}}</textarea>
                        </form>

                        <script>
                            var input = CodeMirror.fromTextArea(document.getElementById("input"), {
                                theme: "material",
                                mode: "text",
                            });
                            input.setSize("100%", "7em");
                        </script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Output
                            <small id='output-error'></small>
                        </h3>
                    </div>
                </div>
            </div>
            <pre class="body" style="background-color: #263238; color: white; min-height:200px;max-height:200px;" id="output">

            </pre>
        </div>
    </div>
</div>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                        lineNumbers: true,
                        matchBrackets: true,
                        theme: "material",
                        mode: "test",
                        lineWrapping: true,
                        mode: "text/x-java",
                        tabSize: 2,
                        indentWithTabs: false
                    });
                    editor.setSize("100%", document.getElementById("problem_description").offsetHeight - 138);
                </script>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/sandbox.js" defer></script>
